.Rproj.user
.Rhistory
.RData
*.Rproj
/cache
Generate-Resamples-Batch.Rout
node*.txt

#
# Files created by vim
#
*~

#
# Files created by LaTeX
#
EconGrowth.pdf
EconGrowth2.pdf
EconGrowthSeminar.pdf
Workflow.pdf
CES.pdf
ExperimentingWithPlots.pdf
*.log
*.tikz
*.aux
*.spl
*.synctex.gz
*-concordance.tex
*-tikzDictionary
*.tex
*.vrb
*.bbl
*.blg
figure/
data_resample/
data_failures/
core
package/man/
package/NAMESPACE
EconModels.Rcheck/
EconModels_*.tar.gz

#
# Files created by beamer
#
*.nav
*.snm
*.toc
