.Rproj.user
.Rhistory
.RData
/cache

#
# Files created by LaTeX
#
EconGrowth.pdf
EconGrowth2.pdf
EconGrowthSeminar.pdf
Workflow.pdf
CES.pdf
*.log
*.tikz
*.aux
*.spl
*.synctex.gz
*-concordance.tex
*-tikzDictionary
*.tex
*.vrb
*.bbl
figure/
data_resample/
#
# Files created by beamer
#
*.nav
*.snm
*.toc
