#
# Files created by RStudio
#
.Rproj.user
.Rhistory
.RData
*.Rproj
/cache

#
# Files created by resampling
#
Generate-Resamples-Batch.Rout
data_resample/
data_failures/
core

# 
# Files related to running the batch.bash script
#
node*.txt

#
# Files related to creating an R package
#
EconModels.Rcheck/
EconModels_*.tar.gz
package/man/

#
# Files created by vim
#
*~

#
# Files created by LaTeX
#
EconGrowth.pdf
EconGrowth2.pdf
EconGrowthSeminar.pdf
Workflow.pdf
CES.pdf
ExperimentingWithPlots.pdf
*.log
*.notes # files created by the \authNote command.
*.tikz
*.aux
*.spl
*.synctex.gz
*-concordance.tex
*-tikzDictionary
*.tex
*.vrb
*.bbl
*.blg
figure/

#
# Files created by beamer
#
*.nav
*.snm
*.toc
